
.countdown {
    height: 70px;
    font-size: 24px;
    text-align: center;
    width: 100%;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 0;
}

.container {
    color: #333;
    text-align: center;
}

#countdown ul {
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    width: 23%;
}

    li span {
        display: block;
        font-weight:bold;
    }



@media all and (max-width: 768px) {
    h1 {
        font-size: calc(1.5rem * var(--smaller));
    }

    li {
        font-size: calc(1.125rem * var(--smaller));
    }

        li span {
            font-size: calc(3.375rem * var(--smaller));
        }
}
